
<% content_for :header do %>
  <h1>Welcome</h1>
  <h2>Check out this table</h2>
<% end -%>

<br>

<table class="pure-table">
  <tr>
    <td><button class="button-secondary pure-button">1</button></td>
    <td><button class="pure-button">2</button></td>
    <td><button class="pure-button">3</button></td>
  </tr>

  <tr>
    <td><button class="pure-button">4</button></td>
    <td><button class="pure-button">5</button></td>
    <td><button class="pure-button">6</button></td>
  </tr>

  <tr>
    <td><button class="pure-button">7</button></td>
    <td><button class="pure-button">8</button></td>
    <td><button class="pure-button">9</button></td>
  </tr>
</table>
